<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>article3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item [button]="true"(click)="changeMission()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{missions2.mission2}}</ion-card-title>
        <ion-card-subtitle>(Is that solution right for your mission?)</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-item>
  <ion-item [button]="true"(click)="changeGap()">
    <ion-card >
     Gap:{{gaps2.gap2}}
   </ion-card>
  </ion-item>
  <ion-item [button]="true"(click)="changeDetail()">
    <ion-card >
       到達していると見なせる理由（フローチャートだとよい）
      <ion-card-title> {{details2.detail2}} </ion-card-title>
    </ion-card>
    </ion-item>
    <div class="ion-padding" ></div>
</ion-content>
