<ion-header>
  <ion-toolbar no-border-bottom>
    <ion-title>タスク一覧</ion-title>
    <ion-button slot="end" shape="round" fill="outline">
      <ion-icon name="create" padding-end (click)="toggleEditComment(i)"></ion-icon>編集
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngIf="!todo.isEdit">
    <ion-item *ngFor="let t of todos" [button]="true"
              (click)="updateTodo(t.id)" >
      <ion-label>{{t.title}}</ion-label>
      <!-- <i class="fa fa-edit ml-2" title="編集" (click)="toggleEditComment(i)"></i>
      <i class="fa fa-trash ml-1" title="削除" (click)="deleteComment(comment.key)"></i> -->
    </ion-item>
    </ng-container>
      <ng-container *ngIf="todo.isEdit">
        <ion-item>
        <ion-input type="text" [(ngModel)]="todo.title"  name="todo"
        ></ion-input>
        <div class="edit-buttons">
          <button >保存</button>
          <button >キャンセル</button>
        </div>
      </ion-item>
      </ng-container>
   
    <!-- <div class="container list-group">
      <a button="true" *ngFor="let t of tasks; let i = index" routerLink="/article.{{i}}" [ngClass]="{'active':clickedItem == i}" (click)="Detail(t,i)" >
        <ion-label>{{t.name}}</ion-label>
      </a>
      <br>
    </div> -->
  </ion-list>
  <!-- <ion-content class="ion-padding">
    <button ion-button block (click)="onButtonClicked()">モーダルダイアログを表示</button>
  </ion-content> -->
</ion-content>
